// @import './common';
// @import './example';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  text-align: center;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.info {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  gap: 20px;
}

.info-item {
  font-size: 0.6vw;
  padding: 5px;
  margin-bottom: 5px;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

.search-form button {
  float: left;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

.search-form button:hover {
  background: #0b7dda;
}

.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.load-more {
  margin: 20px;
  padding: 10px;
  background: #108653;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  // /* Prevent double borders */
  cursor: pointer;
}

.photo-card {
  display: flex;
  flex: 0 0 200px;
  margin: 5px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
}

.photo-card img {
  max-width: 100%;
}
